/*
==========================================================================
General
==========================================================================
*/

body
{
  background-color: #fff;
}

header {
  background: url(../images/header.png) no-repeat center center fixed;
  background-size: cover;
  height: 400px;
}

/*
==========================================================================
IDs
==========================================================================
*/

#name
{
  font-family: 'Archivo Black', sans-serif;
  font-size: 3.0em;
}

#name .last
{
  color: #624374;
  -webkit-text-stroke: 2px #fff;
}

#name .first
{
  -webkit-text-stroke: 2px #624374;
  color: #fff;
}

#title
{
  color: #795F87;
  font-family: 'Poiret One', cursive;
  font-size: 2.5em;
}

#knowledge
{
  background-color: #D7D2DA;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #7B7777;
}

#knowledge .row
{
  margin-bottom: 15px;
}

#knowledge h1, #contact h1
{
  color: #FFF;
}

#knowledge img
{
  margin-bottom: 10px;
  width: 64px;
  height: 64px;;
}

#about h1
{
  color: #795F87;
}

#about img
{
    width: 350px;
    height: 350px;
}

#about p
{
  font-size: 1.3em;
  color: #7B7777;
}

#projects h1
{
  color: #795F87;
}

#contact
{
  background-color: #795F87;
}

#contact img
{
  max-width: 50px;
  max-height: 50px;
}

#projects-tab
{
  margin-bottom: 10px;
}

/*
==========================================================================
Custom Classes
==========================================================================
*/

.footer {
  line-height: 60px;
  background-color: #202020;
  color: #fff;
}

.full-height
{
  height: 100%;
}

.content-pad
{
  padding: 3em 1em;
}

.divider {
  width: 50%;
  color: #fff;
  border: 0.5px solid #fff;
  margin-bottom: 40px;
}

.slide {
  padding-left: 20px;
  padding-right: 20px;
}

.img-responsive
{
  max-width: 70%; /* or to whatever you want here */
  max-height: auto; /* or to whatever you want here */
}
